html {

}

body {
	color: white;
	background-image: url('image2.jpg');
	text-align: center;
}

.cadre1 {
	border: 3px solid white;
	padding: 4%;
	margin-right: 25%;
	margin-left: 25%;
}

input, textarea, select, button {

}